data/
precomputed_features/
ResNet18/
ResNet18_transfer_off/
ResNet50/
retry90/
command.txt
WORKSPACE_STRUCTURE.md
.DS_Store

# ExcludeGLCM/
ExcludeGLCM/.DS_Store
ExcludeGLCM/__pycache__/
ExcludeGLCM/models/
ExcludeGLCM/result/
ExcludeGLCM/confusion_matrix.png
ExcludeGLCM/GLCM_calculate.py
ExcludeGLCM/kensyo_7ch.py
ExcludeGLCM/test_local_glcm.py
ExcludeGLCM/utils.py
